<div class="row">
	<h2>Users</h2>
	<table class="table table-striped table-bordered table-condense">
		<thead>
			<tr>
				<th>User ID</th>
				<th>Time Zone</th>
				<th>Last logged in</th>
				<th>Todos alive</th>
			</tr>
		</thead>
		<tbody>
		  <% @users.each do |user| %>
		  <tr>
				<td><%= user.user_id %></td>
        <td><%= user.time_zone %></td>
        <td><%= user.last_sign_in_at.strftime("%d %B %Y") if user.last_sign_in_at %></td>
        <td class="right"><%= user.todos.alive.count %></td>
			</tr>
        
      <% end %>
			
		</tbody>
	</table>

  <div class="paging"><%= paginate(@users) %></div>

</div>
