<div class="span-22 prepend-1 append-1 main">
	<h2>Users</h2>
	<table class="stripeMe">
		<thead>
			<tr>
				<th>Email</th>
				<th>Time Zone</th>
				<th>Last logged in</th>
				<th>Todos alive</th>
			</tr>
		</thead>
		<tbody>
		  <% @users.each do |user| %>
		  <tr>
				<td><%= user.email %></td>
        <td><%= user.time_zone %></td>
        <td><%= user.last_sign_in_at.strftime("%d %B %Y") if user.last_sign_in_at %></td>
        <td><%= user.todos.alive.count %></td>
			</tr>
        
      <% end %>
			
		</tbody>
	</table>

  <div class="paging"><%= paginate(@users) %></div>

</div>
